<html>
   <body>
       <%= t %><br>
       <%= d %><br>
       <img src="data:image/jepg;base64,<%= i %>" width="2000" height="1200"><br>
       Make: <%= ma %><br>
       Model: <%= mo %><br>
       Created on: <%= c %><br>
       Location:<a href="/map">Map</a><br>
       <a href="/filetoupload">Home</a><br>
   </body>
</html>
